.navbar{
  background-color:#55c500;
}

.nav_container{
  display: flex;
}
.navbar_container{
  padding-left:40px;
  padding-top:30px;
  text-decoration: none;
  text-align: center;
}

.link{
  text-decoration: none;
}
